<!DOCTYPE html>  
<html>  
<head>  
	<title>分类结果</title>  
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>  
<body>  
	<div class="container page-header">
		<h1>
			胸部X光片分类结果
			<small> -- powered by 徐承天</small>
		</h1>
	</div>
	<div class="row">
		<div class="classification">
			<div class="col-md-3" role="none"></div>
			<div class="col-md-6" role="main">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h4>疾病分类展示</h4>
					</div>
					<div class="panel-body">
						<table class="table table-bordered text-center">
							<thead>
								<tr class="info">
									<td><strong>英文疾病名称</strong></td>
									<td><strong>中文疾病名称</strong></td>
									<td><strong>是否患病</strong></td>
								</tr>
							</thead>
							<body>
								{% for diag in diagnose %}
								{% if diag.diagnose%}
								<tr class="danger">
									<td>{{diag.disease_en}}</td>
									<td>{{diag.disease_cn}}</td>
									<td>是</td>
								</tr>
								{% else %}
								<tr class="success">
									<td>{{diag.disease_en}}</td>
									<td>{{diag.disease_cn}}</td>
									<td>否</td>
								</tr>
								{% endif %}
								{% endfor %}
							</body>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2" role="none"></div>
        <div class="col-md-8" role="main">
			<div class="panel panel-primary">
				<div class="panel-heading text-center">
					<h4>疾病热图展示</h4>
				</div>
				<div class="panel-body">
					{% for img in imgs %}
					<div class="col-md-4">
						<div class="thumbnail">
							<img src="../static/heatmap/{{img.image}}" alt="疾病热图">
							<div class="caption text-center">
								<h3>{{img.disease}}</h3>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>  
</html>  
